# Default owners for the entire repository
* @cofiemorridev

# Frontend ownership
/frontend/ @cofiemorridev

# Backend ownership
/backend/ @cofiemorridev

# GitHub workflows
/.github/workflows/ @cofiemorridev